extends layout

block content
  .row.banner
    .col-12
      h1=title
  .row
    .col-12.col-md-8
      .error=message
      app-about Loading
block scripts
  script(src='/build/runtime-es5.edb2fcf2778e7bf1d426.js')

  script(src='/build/polyfills-es5.6696c533341b95a3d617.js')

  script(src='/build/main-es5.dd2ea4ca64c677a7c4ad.js')
