extends layout
block content
  div(style="width:250px;margin: auto;")
    form
      table
        tr
          td Username
          td
            input(name="username" type="text")
        tr
          td Password
          td
            input(name="password" type="text")
        tr
          td(colspan="2" align="center")
            input(type="submit" value="Log In")