extends layout
block content
  div(style="width:200px;margin: auto;")
    form
      table
        tr
          td
            input(name="name" type="text" value="Frank")
        tr
          td
            input(name="name" type="text" value="Frank")
        tr
          td
            input(type="submit" value="Submit")