extends layout
block content
  .row.banner
    .col-12
      h1 Beef Burgers
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.prep Prep time: 30 minutes <br>Cooking time: 30 minutes
          .card.card-primary
            .card-block
              h2.card-title Ingredients
              ul
                li 500g beef mince
                li 1 egg
                li 1 tbsp vegetable oil
                li 1 small onion, diced
                li 4 gluten free burger buns              
        .col-12.col-md-6
          .card.card-primary
            .card-block
              img.img-fluid.rounded(src='https://assets3.thrillist.com/v1/image/2797371/size/tmg-article_default_mobile.jpg')
              p(style='text-align:center')
                span.badge.badge-warning Gluten free
                | &nbsp;
                span.badge.badge-warning American
                | &nbsp;
                span.badge.badge-warning Beef
                | &nbsp;
      .row
        .col-12
          .card.card-primary.method
            .card-block
              a.btn.btn-primary.float-right(href='#') Save Recipe
              h2.card-title Method
              p 
                ol
                  li Tip 500g beef mince into a bowl with 1 small diced onion and 1 egg, then mix.
                  li Divide the mixture into four. Lightly wet your hands. Carefully roll the mixture into balls, each about the size of a tennis ball.
                  li Set in the palm of your hand and gently squeeze down to flatten into patties about 3cm thick. Make sure all the burgers are the same thickness so that they will cook evenly.
                  li Put on a plate, cover with cling film and leave in the fridge to firm up for at least 30 mins.
                  li Heat the barbecue to medium hot (there will be white ash over the red hot coals – about 40 mins after lighting). Lightly brush 1 side of each burger with vegetable oil.
                  li Place the burgers, oil-side down, on the barbecue. Cook for 5 mins until the meat is lightly charred. Don’t move them around or they may stick.
                  li Oil the other side, then turn over using tongs. Don’t press down on the meat, as that will squeeze out the juices.
                  li Cook for 5 mins more for medium. If you like your burgers pink in the middle, cook 1 min less each side. For well done, cook 1 min more.
                  li Take the burgers off the barbecue. Leave to rest on a plate so that all the juices can settle inside.
                  li Slice 4 burger buns in half. Place, cut-side down, on the barbecue rack and toast for 1 min until they are lightly charred. Place a burger inside each bun, then top with your choice of accompaniment.