extends layout

block content
  div(style="width:325px;margin: auto;")
    form
        table
          tr
            td Email
            td
              input(name="email" type="text")
          tr
            td Password
            td
              input(name="pass" type="text")
          tr
            td Confirm Password
            td
              input(name="confirmPass" type="text")
          tr
            td(colspan="2" align="center")
              input(type="submit" value="Submit")
